<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AllDisks</key>
		<array>
			<string>disk0</string>
			<string>disk0s1</string>
			<string>disk0s2</string>
			<string>disk0s3</string>
			<string>disk1</string>
			<string>disk1s1</string>
			<string>disk1s2</string>
			<string>disk1s3</string>
			<string>disk1s4</string>
			<string>disk2</string>
			<string>disk2s1</string>
			<string>disk2s2</string>
			<string>disk3</string>
			<string>disk3s1</string>
			<string>disk3s1s1</string>
			<string>disk3s2</string>
			<string>disk3s3</string>
			<string>disk3s4</string>
			<string>disk3s5</string>
			<string>disk3s6</string>
			<string>disk6</string>
			<string>disk6s1</string>
			<string>disk7</string>
			<string>disk7s1</string>
		</array>
		<key>AllDisksAndPartitions</key>
		<array>
			<dict>
				<key>Content</key>
				<string>GUID_partition_scheme</string>
				<key>DeviceIdentifier</key>
				<string>disk0</string>
				<key>OSInternal</key>
				<false />
				<key>Partitions</key>
				<array>
					<dict>
						<key>Content</key>
						<string>Apple_APFS_ISC</string>
						<key>DeviceIdentifier</key>
						<string>disk0s1</string>
						<key>DiskUUID</key>
						<string>5E7F10DD-AE1E-43DC-9D1A-7674477C9B16</string>
						<key>Size</key>
						<integer>524288000</integer>
					</dict>
					<dict>
						<key>Content</key>
						<string>Apple_APFS</string>
						<key>DeviceIdentifier</key>
						<string>disk0s2</string>
						<key>DiskUUID</key>
						<string>4F7470D8-937C-4585-81DF-AF7BBA931813</string>
						<key>Size</key>
						<integer>494384795648</integer>
					</dict>
					<dict>
						<key>Content</key>
						<string>Apple_APFS_Recovery</string>
						<key>DeviceIdentifier</key>
						<string>disk0s3</string>
						<key>DiskUUID</key>
						<string>099E8138-80EE-4522-9681-D4A46AD87875</string>
						<key>Size</key>
						<integer>5368664064</integer>
					</dict>
				</array>
				<key>Size</key>
				<integer>500277792768</integer>
			</dict>
			<dict>
				<key>APFSPhysicalStores</key>
				<array>
					<dict>
						<key>DeviceIdentifier</key>
						<string>disk0s1</string>
					</dict>
				</array>
				<key>APFSVolumes</key>
				<array>
					<dict>
						<key>CapacityInUse</key>
						<integer>5652480</integer>
						<key>DeviceIdentifier</key>
						<string>disk1s1</string>
						<key>DiskUUID</key>
						<string>051347B5-17F6-4A1B-B9A2-50309A8B0FDD</string>
						<key>MountPoint</key>
						<string>/System/Volumes/iSCPreboot</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<true />
						<key>Size</key>
						<integer>524288000</integer>
						<key>VolumeName</key>
						<string>iSCPreboot</string>
						<key>VolumeUUID</key>
						<string>051347B5-17F6-4A1B-B9A2-50309A8B0FDD</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>6311936</integer>
						<key>DeviceIdentifier</key>
						<string>disk1s2</string>
						<key>DiskUUID</key>
						<string>C0C7C410-614D-4B6B-A5C1-677FBD845F79</string>
						<key>MountPoint</key>
						<string>/System/Volumes/xarts</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<true />
						<key>Size</key>
						<integer>524288000</integer>
						<key>VolumeName</key>
						<string>xART</string>
						<key>VolumeUUID</key>
						<string>C0C7C410-614D-4B6B-A5C1-677FBD845F79</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>2150400</integer>
						<key>DeviceIdentifier</key>
						<string>disk1s3</string>
						<key>DiskUUID</key>
						<string>CD2C8D6D-A2EE-4C61-BE7B-2520B197976A</string>
						<key>MountPoint</key>
						<string>/System/Volumes/Hardware</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<true />
						<key>Size</key>
						<integer>524288000</integer>
						<key>VolumeName</key>
						<string>Hardware</string>
						<key>VolumeUUID</key>
						<string>CD2C8D6D-A2EE-4C61-BE7B-2520B197976A</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>20480</integer>
						<key>DeviceIdentifier</key>
						<string>disk1s4</string>
						<key>DiskUUID</key>
						<string>5B6FD10D-2DFC-425D-A35D-0E4E950648A5</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<true />
						<key>Size</key>
						<integer>524288000</integer>
						<key>VolumeName</key>
						<string>Recovery</string>
						<key>VolumeUUID</key>
						<string>5B6FD10D-2DFC-425D-A35D-0E4E950648A5</string>
					</dict>
				</array>
				<key>Content</key>
				<string>Apple_APFS_Container</string>
				<key>DeviceIdentifier</key>
				<string>disk1</string>
				<key>OSInternal</key>
				<true />
				<key>Partitions</key>
				<array />
				<key>Size</key>
				<integer>524288000</integer>
			</dict>
			<dict>
				<key>APFSPhysicalStores</key>
				<array>
					<dict>
						<key>DeviceIdentifier</key>
						<string>disk0s3</string>
					</dict>
				</array>
				<key>APFSVolumes</key>
				<array>
					<dict>
						<key>CapacityInUse</key>
						<integer>1965641728</integer>
						<key>DeviceIdentifier</key>
						<string>disk2s1</string>
						<key>DiskUUID</key>
						<string>C0969BCF-5FD5-4612-B8B5-B2317790EE79</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<true />
						<key>Size</key>
						<integer>5368664064</integer>
						<key>VolumeName</key>
						<string>Recovery</string>
						<key>VolumeUUID</key>
						<string>C0969BCF-5FD5-4612-B8B5-B2317790EE79</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>1331200</integer>
						<key>DeviceIdentifier</key>
						<string>disk2s2</string>
						<key>DiskUUID</key>
						<string>D0E5458E-AEE8-4A05-9EE3-30E46ADAF046</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<true />
						<key>Size</key>
						<integer>5368664064</integer>
						<key>VolumeName</key>
						<string>Update</string>
						<key>VolumeUUID</key>
						<string>D0E5458E-AEE8-4A05-9EE3-30E46ADAF046</string>
					</dict>
				</array>
				<key>Content</key>
				<string>Apple_APFS_Container</string>
				<key>DeviceIdentifier</key>
				<string>disk2</string>
				<key>OSInternal</key>
				<true />
				<key>Partitions</key>
				<array />
				<key>Size</key>
				<integer>5368664064</integer>
			</dict>
			<dict>
				<key>APFSPhysicalStores</key>
				<array>
					<dict>
						<key>DeviceIdentifier</key>
						<string>disk0s2</string>
					</dict>
				</array>
				<key>APFSVolumes</key>
				<array>
					<dict>
						<key>CapacityInUse</key>
						<integer>11261714432</integer>
						<key>DeviceIdentifier</key>
						<string>disk3s1</string>
						<key>DiskUUID</key>
						<string>85312E5B-9874-44B4-ABAF-DE8C4A7997FF</string>
						<key>MountedSnapshots</key>
						<array>
							<dict>
								<key>Sealed</key>
								<string>Yes</string>
								<key>SnapshotBSD</key>
								<string>disk3s1s1</string>
								<key>SnapshotMountPoint</key>
								<string>/</string>
								<key>SnapshotName</key>
								<string>
									com.apple.os.update-8580EF41777A373CFDD2481F6D7C5DABE2C62A48B3932EF124CDE166CC64CFD9</string>
								<key>SnapshotUUID</key>
								<string>1D84BBE3-3A3A-4512-BE5D-4CD37B65850D</string>
							</dict>
						</array>
						<key>OSInternal</key>
						<false />
						<key>Size</key>
						<integer>494384795648</integer>
						<key>VolumeName</key>
						<string>Macintosh HD</string>
						<key>VolumeUUID</key>
						<string>85312E5B-9874-44B4-ABAF-DE8C4A7997FF</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>11261714432</integer>
						<key>DeviceIdentifier</key>
						<string>disk3s1s1</string>
						<key>DiskUUID</key>
						<string>1D84BBE3-3A3A-4512-BE5D-4CD37B65850D</string>
						<key>MountPoint</key>
						<string>/</string>
						<key>OSInternal</key>
						<false />
						<key>Size</key>
						<integer>494384795648</integer>
						<key>VolumeName</key>
						<string>Macintosh HD</string>
						<key>VolumeUUID</key>
						<string>1D84BBE3-3A3A-4512-BE5D-4CD37B65850D</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>7128109056</integer>
						<key>DeviceIdentifier</key>
						<string>disk3s2</string>
						<key>DiskUUID</key>
						<string>E7FF5DB2-F163-409C-A039-FC67D67C153F</string>
						<key>MountPoint</key>
						<string>/System/Volumes/Preboot</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<false />
						<key>Size</key>
						<integer>494384795648</integer>
						<key>VolumeName</key>
						<string>Preboot</string>
						<key>VolumeUUID</key>
						<string>E7FF5DB2-F163-409C-A039-FC67D67C153F</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>1041465344</integer>
						<key>DeviceIdentifier</key>
						<string>disk3s3</string>
						<key>DiskUUID</key>
						<string>DBA470CC-1C00-4ED9-9428-5AC0D5B6C03D</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<false />
						<key>Size</key>
						<integer>494384795648</integer>
						<key>VolumeName</key>
						<string>Recovery</string>
						<key>VolumeUUID</key>
						<string>DBA470CC-1C00-4ED9-9428-5AC0D5B6C03D</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>5705728</integer>
						<key>DeviceIdentifier</key>
						<string>disk3s4</string>
						<key>DiskUUID</key>
						<string>1A99A2C6-BBAE-4FC7-9831-DA5B4BBB184F</string>
						<key>MountPoint</key>
						<string>/System/Volumes/Update</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<true />
						<key>Size</key>
						<integer>494384795648</integer>
						<key>VolumeName</key>
						<string>Update</string>
						<key>VolumeUUID</key>
						<string>1A99A2C6-BBAE-4FC7-9831-DA5B4BBB184F</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>413704962048</integer>
						<key>DeviceIdentifier</key>
						<string>disk3s5</string>
						<key>DiskUUID</key>
						<string>A3D02FD4-AFDE-41EB-BFD3-DB913431F5A2</string>
						<key>MountPoint</key>
						<string>/System/Volumes/Data</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<false />
						<key>Size</key>
						<integer>494384795648</integer>
						<key>VolumeName</key>
						<string>Data</string>
						<key>VolumeUUID</key>
						<string>A3D02FD4-AFDE-41EB-BFD3-DB913431F5A2</string>
					</dict>
					<dict>
						<key>CapacityInUse</key>
						<integer>24576</integer>
						<key>DeviceIdentifier</key>
						<string>disk3s6</string>
						<key>DiskUUID</key>
						<string>8209FBA5-60B7-481B-9FB2-8E8E37F7280C</string>
						<key>MountPoint</key>
						<string>/System/Volumes/VM</string>
						<key>MountedSnapshots</key>
						<array />
						<key>OSInternal</key>
						<false />
						<key>Size</key>
						<integer>494384795648</integer>
						<key>VolumeName</key>
						<string>VM</string>
						<key>VolumeUUID</key>
						<string>8209FBA5-60B7-481B-9FB2-8E8E37F7280C</string>
					</dict>
				</array>
				<key>Content</key>
				<string>Apple_APFS_Container</string>
				<key>DeviceIdentifier</key>
				<string>disk3</string>
				<key>OSInternal</key>
				<false />
				<key>Partitions</key>
				<array />
				<key>Size</key>
				<integer>494384795648</integer>
			</dict>
			<dict>
				<key>Content</key>
				<string>FDisk_partition_scheme</string>
				<key>DeviceIdentifier</key>
				<string>disk6</string>
				<key>OSInternal</key>
				<false />
				<key>Partitions</key>
				<array>
					<dict>
						<key>Content</key>
						<string>Windows_NTFS</string>
						<key>DeviceIdentifier</key>
						<string>disk6s1</string>
						<key>MountPoint</key>
						<string>/Volumes/Samsung_T5</string>
						<key>Size</key>
						<integer>1000202273280</integer>
						<key>VolumeName</key>
						<string>Samsung_T5</string>
						<key>VolumeUUID</key>
						<string>F6664668-1958-3938-9449-2C1A72F37580</string>
					</dict>
				</array>
				<key>Size</key>
				<integer>1000204886016</integer>
			</dict>
			<dict>
				<key>Content</key>
				<string>FDisk_partition_scheme</string>
				<key>DeviceIdentifier</key>
				<string>disk7</string>
				<key>OSInternal</key>
				<false />
				<key>Partitions</key>
				<array>
					<dict>
						<key>Content</key>
						<string>Windows_NTFS</string>
						<key>DeviceIdentifier</key>
						<string>disk7s1</string>
						<key>Size</key>
						<integer>2000397795328</integer>
						<key>VolumeName</key>
						<string>One Touch</string>
						<key>VolumeUUID</key>
						<string>EC5A6C68-26FA-39D5-BCF9-55C4A68DC4F9</string>
					</dict>
				</array>
				<key>Size</key>
				<integer>2000398933504</integer>
			</dict>
		</array>
		<key>VolumesFromDisks</key>
		<array>
			<string>iSCPreboot</string>
			<string>xART</string>
			<string>Hardware</string>
			<string>Macintosh HD</string>
			<string>Preboot</string>
			<string>Update</string>
			<string>Data</string>
			<string>VM</string>
			<string>Samsung_T5</string>
		</array>
		<key>WholeDisks</key>
		<array>
			<string>disk0</string>
			<string>disk1</string>
			<string>disk2</string>
			<string>disk3</string>
			<string>disk6</string>
			<string>disk7</string>
		</array>
	</dict>
</plist>